@import 'base';
@import 'fonts';
@import 'colors';

#content {
	height: 100%;
	margin: 0; padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: color(red);
	color: white;
	font-family: $font1, arial, sans-serif;
	font-size: 350%;
}
